# Ignore node_modules and build artifacts
node_modules/
dist/
.turbo/
.eslintcache

# Ignore TypeScript files
*.tsbuildinfo

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore editor/IDE config files
.vscode/

# Ignore test data files
*.csv
*.json